In [46]:
import pandas as pd
import numpy as np

In [47]:
df_raw = pd.read_csv('./rank_test.csv')
df_raw.head(3)

,ticker,headline,description,answer
0,AAPL,Apples (AAPL) Next Big AI Move? Analyst Sees ...,Apple Inc. (NASDAQ:AAPL) is one of the 10 Tren...,Strategic Risk: 10\r\nOperational Risk: 0\r\nF...
1,AAPL,Nvidia: How the chipmaker evolved from a gamin...,Heres a look at Nvidias path to where it is ...,Strategic Risk: -7\r\nOperational Risk: 0\r\nF...
2,AAPL,Apple (AAPL) Staring at 500 Fine in EU over A...,Apple Inc. (NASDAQ:AAPL) is one of the 12 best...,Strategic Risk: -3\r\nOperational Risk: -1\r\n...

In [48]:
risk_list = ['Strategic Risk',
 'Operational Risk',
 'Financial Risk',
 'Market Risk',
 'Technology Risk',
 'Credit Risk',
 'Legal Risk',
 'Political Risk',
 'Reputational Risk',
 'ESG Risk']

In [49]:
def ans2vec(ans):
    risk_dict = {}
    vec = []
    for risk in risk_list:
        if risk in ans:
            rank = float(ans.split(risk + ': ')[1].split('\n')[0])
            vec.append(rank)
        else:
            vec.append(0)
            
    return np.array(vec)

In [50]:
label_ans_vec = df_raw['answer'].apply(ans2vec)
label_ans_vec

0      [10.0, 0.0, 10.0, 10.0, 10.0, 0.0, 0.0, 0.0, 1...
1      [-7.0, 0.0, 0.0, 0.0, -5.0, 0.0, 0.0, 0.0, 0.0...
2      [-3.0, -1.0, -2.0, -1.0, 0.0, 0.0, -7.0, -3.0,...
3      [-1.0, 0.0, 0.0, -1.0, 1.0, 0.0, 0.0, 0.0, 0.0...
4      [0.0, 0.0, -5.0, -7.0, 0.0, 0.0, 0.0, 0.0, -3....
                             ...
976    [7.0, 0.0, 5.0, 6.0, 5.0, 0.0, -8.0, -9.0, -3....
977    [0.0, -3.0, 0.0, -1.0, 0.0, 0.0, 0.0, 0.0, -1....
978    [-2.0, 0.0, 5.0, 7.0, 8.0, 0.0, -1.0, -5.0, 3....
979    [2.0, -3.0, 0.0, 1.0, 0.0, 0.0, -4.0, -8.0, -2...
980    [7.0, 0.0, 6.0, 5.0, 0.0, 4.0, 0.0, 0.0, 7.0, ...
Name: answer, Length: 981, dtype: object

In [51]:
df_ft = pd.read_csv('./ft_rank_test.csv')
df_ft.head(3)

,ticker,headline,description,answer,ft_answer
0,AAPL,Apples (AAPL) Next Big AI Move? Analyst Sees ...,Apple Inc. (NASDAQ:AAPL) is one of the 10 Tren...,Strategic Risk: 10\nOperational Risk: 0\nFinan...,\nStrategic Risk: 8\nOperational Risk: 0\nFina...
1,AAPL,Nvidia: How the chipmaker evolved from a gamin...,Heres a look at Nvidias path to where it is ...,Strategic Risk: -7\nOperational Risk: 0\nFinan...,\nStrategic_Risk: 0\nOperational_Risk: 0\nFina...
2,AAPL,Apple (AAPL) Staring at 500 Fine in EU over A...,Apple Inc. (NASDAQ:AAPL) is one of the 12 best...,Strategic Risk: -3\nOperational Risk: -1\nFina...,\nStrategic Risk: -4\nOperational Risk: -3\nFi...

In [60]:
ftlabel_ans_vec = df_ft['ft_answer'].apply(ans2vec)
ftlabel_ans_vec

0      [8.0, 0.0, 7.0, 8.0, 9.0, 0.0, 0.0, 0.0, 5.0, ...
1                         [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
2      [-4.0, -3.0, -6.0, -4.0, 0.0, 0.0, -8.0, -5.0,...
3      [0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0, 0.0, 0.0, ...
4      [-3.0, 0.0, -5.0, -7.0, 0.0, 0.0, 0.0, 0.0, -2...
                             ...
976    [-8.0, -7.0, -6.0, -8.0, -7.0, -5.0, -6.0, -9....
977    [-3.0, -4.0, -1.0, -2.0, 0.0, 0.0, -1.0, -2.0,...
978                       [0, 0, 0, 0, 0, 0, 0, 0, 0, 0]
979    [-7.0, -2.0, -5.0, -4.0, 0.0, -1.0, -8.0, -9.0...
980    [4.0, 0.0, 3.0, 5.0, 0.0, 0.0, 0.0, 0.0, 4.0, ...
Name: ft_answer, Length: 981, dtype: object

In [66]:
tot_mse = 0
for ans, ft_ans in zip(label_ans_vec, ftlabel_ans_vec):
    det_vec = ans - ft_ans
    tot_mse += np.linalg.norm(det_vec)

avg_mse = tot_mse / len(label_ans_vec)
avg_mse

6.644075890891342

In [64]:
det_vec = label_ans_vec[0] - ftlabel_ans_vec[0]
np.linalg.norm(det_vec)

6.557438524302